<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Movie++</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link href="/static/style.css" rel="stylesheet">
</head>

<!-- HEADER-->
<header>
	<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
		<div class="container-fluid">
			<!-- <a class="navbar-brand"><img src="/static/img/logo.png"></a> -->
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="http://127.0.0.1:5000">MOVIES</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="http://127.0.0.1:5000/explore">EXPLORE</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="http://127.0.0.1:5000/post">POST</a>
					</li>

					{% if not session.logged_in %}
						<li class="nav-item">
							<a class="nav-link" href="http://127.0.0.1:5000/login">LOGIN</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="http://127.0.0.1:5000/register">SIGNUP</a>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href="http://127.0.0.1:5000/user/{{session['username']}}">Profile</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" href="http://127.0.0.1:5000/chat">CHATTING</a>
						</li>

						<li class="nav-item">
							<a class="nav-link active" href="http://127.0.0.1:5000/logout">LOGOUT</a>
						</li>
					{% endif %}

				</ul>
			</div>
		</div>
	</nav>

</header>

<body>

<!-- BODY TO BE FILLED-->

  <div class="container-fluid" padding=0 border=0 margin=0 align="center">
    {% block body %} {% endblock %}
  </div>
</body>

<!-- Footer-->
<footer>
	<div class="card card-image" style="background-image: url(/static/img/m1.jpg);">

	    <!-- Content -->
		<div class="container-fluid padding">
		<div class="row text-center">
			<div class="col-md-3">
				<button type="button" class = "btn btn-outline-primary btn-lg"> UIUC CS411 TEAM++</button>
				<hr class="light">
				<p>This is a final project for CS411 in UIUC.</p>
				<p>Our team(team++) consists of three people.</p>
			</div>
			<div class="col-md-3">
				<hr class="light">
				<h5>Xinwei He</h5>
				<hr class="light">
				<p>555-555-5555</p>
				<p href="xinh@illinoi.edu">xinh@illinoi.edu</p>
				<p href="https://www.linkedin.com/in/qishan--zhu/?locale=en_US">Linedin: Xinwei He</p>
				<p>Facebook</p>
			</div>
			<div class="col-md-3">
				<hr class="light">
				<h5>Yihan Wang</h5>
				<hr class="light">
				<p>yihanw@illinois.edu</p>
				<p href="https://www.linkedin.com/in/qishan--zhu/?locale=en_US">Linedin: Yihan Wang</p>
				<p>Facebook</p>
			</div>
			<div class="col-md-3">
				<hr class="light">
				<h5>Qishan Zhu</h5>
				<hr class="light">
				<p>qishanz2@illinois.edu</p>
				<p href="https://www.linkedin.com/in/qishan--zhu/?locale=en_US">Linedin: Qishan Zhu</p>
				<p>Twitter</p>
				<p>Facebook</p>
			</div>
			<div class="col-md-12">
				<hr class="light">
				<h5>movie-search.com</h5>
			</div>
		</div>
	    <!-- Content -->
	</div>
	<!-- Card -->
</footer>

</html>
