<!DOCTYPE html>
  <html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Movie++</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <link href="/static/style.css" rel="stylesheet">
</head>

<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <!-- <a class="navbar-brand"><img src="/static/img/logo.png"></a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:5000">MOVIES</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:5000/explore">EXPLORE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:5000/post">POST</a>
        </li>

        {% if not session.logged_in %}
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:5000/login">LOGIN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:5000/register">SIGNUP</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:5000/user">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="http://127.0.0.1:5000/chat">CHATTING</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" href="http://127.0.0.1:5000/logout">LOGOUT</a>
          </li>
        {% endif %}

      </ul>
    </div>
  </div>
</nav>

<!--- Image Slider -->
<div id="slides" class="carousel slide" data-ride="carousel">
<ul class="carousel-indicators">
  <li data-target="#slides" data-slide-to="0" class="active"></li>
  <li data-target="#slides" data-slide-to="1" class="active"></li>
  <li data-target="#slides" data-slide-to="2" class="active"></li>
</ul>

<div class="carousel-inner">
  <div class="carousel-item active">
    <img src="/static/img/m1.jpg">
    <div class="carousel-caption">
      <h1 class="display-2">Movie Chat</h1>

      <h3>Team++</h3>
      <div class="container">
          <br/>
        <div class="row justify-content-center">
                              <div class="col-12 col-md-10 col-lg-8">
                                  <form class="card card-sm" action="/search" method="get">
                                      <div class="card-body row no-gutters align-items-center">
                                          <div class="col-auto">
                                              <i class="fas fa-search h4 text-body"></i>
                                          </div>
                                          <!--end of col-->
                                          <div class="col">
                                              <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search topics or keywords" name="keyword">
                                          </div>
                                          <!--end of col-->
                                          <div class="col-auto">
                                              <button class="btn btn-lg btn-success" type="submit">Search</button>
                                          </div>
                                          <!--end of col-->
                                      </div>
                                  </form>
                              </div>
                              <!--end of col-->
                          </div>
      </div>


    </div>
  </div>
  <div class="carousel-item">
    <img src="/static/img/m2.jpeg">
  </div>
  <div class="carousel-item">
    <img src="/static/img/m3.jpeg">
  </div>
</div>
</div>

<!--- Jumbotron -->
<div class="container-fluid">
<div class="row jumbotron">
  <div class="col-xs-12 col-sm-12 col-md-9 col-xl-10">
    <p class="lead">A Collection of recent heated Movies!
    </p>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-10">
    <a href="#">
      <button type="button" class="btn btn-outline-secondary bnt-lg">
        Moive Posting
      </button>

    </a>
  </div>
</div>
</div>
<!--- Welcome Section -->
<div class="container-fluid padding">
<div class="row welcome text-center">
  <div class="col-12">
    <h1 class="display-4">CHATTING ROOM</h1>
  </div>
</div>
</div>




    <form action="" method="POST">

      <input type="text" class="message" size="60" style="height:200px" placeholder="Messages"/>
      <br>
      <input type="submit"/>
    </form>

    <h3 style='color: #ccc;font-size: 30px;'>No message yet..</h3>
    <div class="message_holder"></div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script type="text/javascript">
      var socket = io.connect('http://' + document.domain + ':' + location.port);
      function myFunc(vars) {
          return vars
      }
      socket.on( 'connect', function() {
        socket.emit( 'onEvent', {
          data: 'User Connected'
        } )
        var form = $( 'form' ).on( 'submit', function( e ) {
          e.preventDefault()

          let user_name = myFunc({{myUsername|tojson}});
          console.log('username', user_name);
          let user_input = $( 'input.message' ).val()
          socket.emit( 'onEvent', {
            user_name : user_name,
            message : user_input
          } )
          $( 'input.message' ).val( '' ).focus()
        } )
      } )
      var cnt = 0
      socket.on( 'my response', function( msg ) {
        console.log( msg )
        if( typeof msg.user_name !== 'undefined' ) {
          cnt = cnt + 1;
          console.log( cnt )
          $( 'h3' ).remove()
          /**
          $( 'div.message_holder' ).append(
            '<div><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>'
            )
          */if(cnt % 4 == 0){
              $( 'div.message_holder' ).append(
                      '<div class="col-md-12 post_instance">' +
                        '<img src="/static/img/' + 'ano.jpg' + '" class="img-rounded">'+
                        '<form method="POST">'+
                        '<div> <strong>User Name</strong> :' + msg.user_name + '</div>'+
                        '<div> <strong>User Message</strong> : ' + msg.message + '</div>'+
                      '</div>'+
                      '<br>'
              )
            }

            if(cnt % 4 == 1){
              $( 'div.message_holder' ).append(
                      '<div class="col-md-12 post_instance">' +
                        '<img src="/static/img/' + 'pic1.jpeg' + '" class="img-rounded">'+
                        '<form method="POST">'+
                        '<div> <strong>User Name</strong> :' + msg.user_name + '</div>'+
                        '<div> <strong>User Message</strong> : ' + msg.message + '</div>'+
                      '</div>'+
                      '<br>'
              )
            }


            if(cnt % 4 == 2){
              $( 'div.message_holder' ).append(
                      '<div class="col-md-12 post_instance">' +
                        '<img src="/static/img/' + 'pic2.jpeg' + '" class="img-rounded">'+
                        '<form method="POST">'+
                        '<div> <strong>User Name</strong> :' + msg.user_name + '</div>'+
                        '<div> <strong>User Message</strong> : ' + msg.message + '</div>'+
                      '</div>'+
                      '<br>'
              )
            }

            if(cnt % 4 == 3){
              $( 'div.message_holder' ).append(
                      '<div class="col-md-12 post_instance">' +
                        '<img src="/static/img/' + 'pic3.jpeg' + '" class="img-rounded">'+
                        '<form method="POST">'+
                        '<div> <strong>User Name</strong> :' + msg.user_name + '</div>'+
                        '<div> <strong>User Message</strong> : ' + msg.message + '</div>'+
                      '</div>'+
                      '<br>'
              )
            }


        }
      })
    </script>
  </div>


<div class="card card-image" style="background-image: url(/static/img/m1.jpg);">

    <!-- Content -->
  <div class="container-fluid padding">
  <div class="row text-center">
    <div class="col-md-3">
      <button type="button" class = "btn btn-outline-primary btn-lg"> UIUC CS411 TEAM++</button>
      <hr class="light">
      <p>This is a final project for CS411 in UIUC.</p>
      <p>Our team(team++) consists of three people.</p>
    </div>
    <div class="col-md-3">
      <hr class="light">
      <h5>Xinwei He</h5>
      <hr class="light">
      <p>555-555-5555</p>
      <p href="xinh@illinoi.edu">xinh@illinoi.edu</p>
      <p href="https://www.linkedin.com/in/qishan--zhu/?locale=en_US">Linedin: Xinwei He</p>
      <p>Facebook</p>
    </div>
    <div class="col-md-3">
      <hr class="light">
      <h5>Yihan Wang</h5>
      <hr class="light">
      <p>yihanw@illinois.edu</p>
      <p href="https://www.linkedin.com/in/qishan--zhu/?locale=en_US">Linedin: Yihan Wang</p>
      <p>Facebook</p>
    </div>
    <div class="col-md-3">
      <hr class="light">
      <h5>Qishan Zhu</h5>
      <hr class="light">
      <p>qishanz2@illinois.edu</p>
      <p href="https://www.linkedin.com/in/qishan--zhu/?locale=en_US">Linedin: Qishan Zhu</p>
      <p>Twitter</p>
      <p>Facebook</p>
    </div>
    <div class="col-md-12">
      <hr class="light">
      <h5>movie-search.com</h5>
    </div>
  </div>
    <!-- Content -->
</div>





  </body>
</html>
