<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Movie++</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <link href="/static/style.css" rel="stylesheet">
</head>
<body>


<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <!-- <a class="navbar-brand"><img src="/static/img/logo.png"></a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:5000">MOVIES</a>
        </li>
        {% if not session.logged_in %}
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:5000/login">LOGIN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:5000/register">SIGNUP</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:5000/user/session['username']">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="http://127.0.0.1:5000/chat">CHATTING</a>
          </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:5000/post">POST</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--- Image Slider -->
<div id="slides" class="carousel slide" data-ride="carousel">
<ul class="carousel-indicators">
  <li data-target="#slides" data-slide-to="0" class="active"></li>
  <li data-target="#slides" data-slide-to="1" class="active"></li>
  <li data-target="#slides" data-slide-to="2" class="active"></li>
</ul>

<div class="carousel-inner">
  <div class="carousel-item active">
    <img src="/static/img/m1.jpg">
    <div class="carousel-caption">
      <h1 class="display-2">Movie Chat</h1>

      <h3>Team++</h3>
      <div class="container">
          <br/>
        <div class="row justify-content-center">
                              <div class="col-12 col-md-10 col-lg-8">
                                  <form class="card card-sm" action="/search" method="get">
                                      <div class="card-body row no-gutters align-items-center">
                                          <div class="col-auto">
                                              <i class="fas fa-search h4 text-body"></i>
                                          </div>
                                          <!--end of col-->
                                          <div class="col">
                                              <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search topics or keywords" name="keyword">
                                          </div>
                                          <!--end of col-->
                                          <div class="col-auto">
                                              <button class="btn btn-lg btn-success" type="submit">Search</button>
                                          </div>
                                          <!--end of col-->
                                      </div>
                                  </form>
                              </div>
                              <!--end of col-->
                          </div>
      </div>


    </div>
  </div>
  <div class="carousel-item">
    <img src="/static/img/m2.jpeg">
  </div>
  <div class="carousel-item">
    <img src="/static/img/m3.jpeg">
  </div>
</div>
</div>

    <!--
    <form action="" method="POST">
      <input type="text" class="username" placeholder="User Name"/>
      <input type="text" class="message" placeholder="Messages"/>
      <input type="submit"/>
    </form>
    -->
        
                  <div class="col-md-12 post_instance">'
                    <img src="/static/img/ano.jpg" class="img-rounded">
                      <form method="POST">
                        UserName:<br>
                        <input name="username" size="14">
                        <br>
                        Message:<br>
                        <input name="text" size="60" style="height:200px" >
                        <br>
                        <br>
                          <input type="submit" value="Submit">
                        <br>
                      </form>
                  </div>
                  <br>
        

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script type="text/javascript">
      var socket = io.connect('http://' + document.domain + ':' + location.port);
      socket.on( 'connect', function() {
        socket.emit( 'my event', {
          data: 'User Connected'
        } )
        var form = $( 'form' ).on( 'submit', function( e ) {
          e.preventDefault()
          let user_name = $( 'input.username' ).val()
          let user_input = $( 'input.message' ).val()
          socket.emit( 'my event', {
            user_name : user_name,
            message : user_input
          } )
          $( 'input.message' ).val( '' ).focus()
        } )
      } )
      socket.on( 'my response', function( msg ) {
        console.log( msg )
        if( typeof msg.user_name !== 'undefined' ) {
          $( 'h3' ).remove()
          $( 'div.message_holder' ).append( '<div><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>' )
        }
      })
    </script>

  </body>
</html>
