{% extends "base.html" %}

{% block body %}

<!--- Image Slider -->
<div id="slides" cslass="carousel slide" data-ride="carousel">
<ul class="carousel-indicators">
	<li data-target="#slides" data-slide-to="0" class="active"></li>
	<li data-target="#slides" data-slide-to="1" class="active"></li>
	<li data-target="#slides" data-slide-to="2" class="active"></li>
</ul>

<div class="carousel-inner">
	<div class="carousel-item active">
		<img src="/static/img/carosel1.jpg">
		<div class="carousel-caption">
			<div >
				<div class="row justify-content-center">
	          <div class="col-12 col-md-10 col-lg-8">
	              <form class="card card-sm" action="/search" method="get">
	                  <div class="card-body row no-gutters align-items-center">
	                      <div class="col-auto">
	                          <i class="fas fa-search h4 text-body"></i>
	                      </div class="container">
	                      <!--end of col-->
	                      <div class="col">
	                          <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search keywords" name="keyword">
	                      </div>
	                      <!--end of col-->
	                      <div class="col-auto">
	                          <button class="btn btn-md btn-success" type="submit">Search</button>
	                      </div>
	                      <!--end of col-->

	                      <div class="col-auto">
	                          <i class="fas fa-search h4 text-body"></i>
	                      </div>
	                  </div>
	              </form>
	          </div>
	          <!--end of col-->
	      </div>
			</div>
		</div>

	</div>
	<div class="carousel-item">
		<img src="/static/img/carosel22.jpg">

		<div class="carousel-caption">
			<div class="container">
				<div class="row justify-content-center">
	          <div class="col-12 col-md-10 col-lg-8">
	              <form class="card card-sm" action="/search" method="get">
	                  <div class="card-body row no-gutters align-items-center">
	                      <div class="col-auto">
	                          <i class="fas fa-search h4 text-body"></i>
	                      </div>
	                      <!--end of col-->
	                      <div class="col">
	                          <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search topics or keywords" name="keyword">
	                      </div>
	                      <!--end of col-->
	                      <div class="col-auto">
	                          <button class="btn btn-lg btn-success" type="submit">Search</button>
	                      </div>
	                      <!--end of col-->
	                  </div>
	              </form>
	          </div>
	          <!--end of col-->
	      </div>
			</div>
		</div>
	</div>
	<div class="carousel-item">
		<img src="/static/img/carosel33.jpg">

		<div class="carousel-caption">
			<div class="container">
				<div class="row justify-content-center">
	          <div class="col-12 col-md-10 col-lg-8">
	              <form class="card card-sm" action="/search" method="get">
	                  <div class="card-body row no-gutters align-items-center">
	                      <div class="col-auto">
	                          <i class="fas fa-search h4 text-body"></i>
	                      </div>
	                      <!--end of col-->
	                      <div class="col">
	                          <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search topics or keywords" name="keyword">
	                      </div>
	                      <!--end of col-->
	                      <div class="col-auto">
	                          <button class="btn btn-lg btn-success" type="submit">Search</button>
	                      </div>
	                      <!--end of col-->
	                  </div>
	              </form>
	          </div>
	          <!--end of col-->
	      </div>
			</div>
		</div>
	</div>
</div>
</div>

<!--- Welcome Section -->
<div class="container-fluid padding">
<div class="row welcome text-center">
	<div class="col-12">
		<h1 class="display-4">Don't have an account yet? SIGN UP NOW!!!</h1>
	</div>
	<hr>
	<div class="col-12">
		<p class="lead">IMDb is an online database of information related to films, television programs, home videos and video games, and internet streams, including cast, production crew and personnel biographies, plot summaries, trivia, and fan reviews and ratings.
		</p>
	</div>
</div>
</div>


<!--- Two Column Section
<div class="container-fluid padding">
<div class="row padding">
	<div class="col-lg-6">
		<h2>If you build it...</h2>
		<p>The columns will automatically stack on top of each other when the screen is less than 576px wide</p>
		<p>Resize the browser window to see the effect. Responsive web design has become more important whatever</p>
		<br>
		<a href="#" class="btn btn-primary">Learn More</a>
	</div>
	<div class="col-lg-6">
		<img src="img/desk.png" class="img-fluid">
	</div>
</div>
</div>
-->
<!--- Meet the team -->

<!--- Jumbotron -->
<div class="container-fluid">
<div class="row jumbotron">
	<div class="col-md-9">
	</div>
</div>
</div>

<div class="container-fluid padding">
<div class="row welcome text-center">
	<div class="col-12">
		<h1 class="display-4">Movie Collections</h1>

			{% if not nobutton%}
		<div>

				<form method="POST">

										<input class="btn btn-outline-secondary bnt-lg" type="submit" name="submitButton" value="Previous">

										<input class="btn btn-outline-secondary bnt-lg" type="submit" name="submitButton" value="Next">

					</form>
		</div>
			{% endif %}
	</div>
</div>
</div>

<!--- Cards -->
	<script>
		function myFunc(vars) {
    		return vars
		}
		var movie_list =  myFunc({{movies_instance|tojson}});
		//var img_list = new Array("team1.png", "team2.png", "team3.png", "team3.png");
		//window.alert('pig pig');
		//window.alert(movie_list[0][0]);
		for(var i = 0; i < Math.floor(movie_list.length/4) + 1; i ++){
				if(4 * i + 4 <= movie_list.length){
					$('body').append(
								'<div class="container-fluid padding">' +
								'<div class="row padding">' +
								'<div class="col-md-3">'+
									'<div class="card">'+
										'<a href="http://teamplusplus.web.illinois.edu/movie/' + movie_list[4*i + 0][0]  + '">' +
										'<img class="card-img-top movie_card" src=' + movie_list[4*i + 0][1]  + '>'+
										'</a>' +
										'<div class="card-body">' +
											'<h4 class="card-title">' + movie_list[4*i + 0][2] + '(' + movie_list[4*i + 0][4] +')' + '</h4>'+
											'<p class="card-text">' + movie_list[4*i + 0][6] + '</p>'+
											'<a href="http://teamplusplus.web.illinois.edu/movie/' + movie_list[4*i + 0][0]  + '" class="btn btn-outline-secondary">'+
												'See Profile' +
											'</a>' +
										'</div>' +
									'</div>	'+
								'</div>' +
								'<div class="col-md-3">'+
									'<div class="card">'+
										'<a href="http://teamplusplus.web.illinois.edu/movie/' + movie_list[4*i + 1][0]  + '">' +
										'<img class="card-img-top movie_card" src=' + movie_list[4*i + 1][1] + '>'+
										'</a>' +
										'<div class="card-body">' +
											'<h4 class="card-title">' + movie_list[4*i + 1][2] + '(' + movie_list[4*i + 1][4] +')'+ '</h4>'+
											'<p class="card-text">' + movie_list[4*i + 1][6] + '</p>'+
											'<a href="http://teamplusplus.web.illinois.edu/movie/' + movie_list[4*i + 1][0]  + '" class="btn btn-outline-secondary">'+
												'See Profile' +
											'</a>' +
										'</div>' +
									'</div>	'+
								'</div>' +
								'<div class="col-md-3">'+
									'<div class="card">'+
										'<a href="http://teamplusplus.web.illinois.edu/movie/' + movie_list[4*i + 2][0]  + '">' +
										'<img class="card-img-top movie_card"  src=' + movie_list[4*i + 2][1] + '>'+
										'</a>' +
										'<div class="card-body">' +
											'<h4 class="card-title">' + movie_list[4*i + 2][2] + '(' + movie_list[4*i + 2][4] +')' +  '</h4>'+
											'<p class="card-text">' + movie_list[4*i + 2][6]  + '</p>'+
											'<a href="http://teamplusplus.web.illinois.edu/movie/' + movie_list[4*i + 2][0]  + '" class="btn btn-outline-secondary">'+
												'See Profile' +
											'</a>' +
										'</div>' +
									'</div>	'+
								'</div>' +
								'<div class="col-md-3">'+
									'<div class="card">'+
										'<a href="http://teamplusplus.web.illinois.edu/movie/' + movie_list[4*i + 3][0]  + '">' +
										'<img class="card-img-top movie_card" src=' + movie_list[4*i + 3][1] + '>'+
										'</a>' +
										'<div class="card-body">' +
											'<h4 class="card-title">' + movie_list[4*i + 3][2] + '(' + movie_list[4*i + 3][4] +')' + '</h4>'+
											'<p class="card-text">' + movie_list[4*i + 3][6] + '</p>'+
											'<a href="http://teamplusplus.web.illinois.edu/movie/' + movie_list[4*i + 3][0]  + '" class="btn btn-outline-secondary">'+
												'See Profile' +
											'</a>' +
										'</div>' +
									'</div>	'+
								'</div>' +
								'</div>' +
								'</div>');

				}else if(4 * i + 3 <= movie_list.length){
					$('body').append(
								'<div class="container-fluid padding">' +
								'<div class="row padding">' +
								'<div class="col-md-3">'+
									'<div class="card">'+
										'<a href="http://teamplusplus.web.illinois.edu/movie/' + movie_list[4*i + 0][0]  + '">' +
										'<img class="card-img-top movie_card" src=' + movie_list[4*i + 0][1]  + '>'+
										'</a>' +
										'<div class="card-body">' +
											'<h4 class="card-title">' + movie_list[4*i + 0][2] + '(' + movie_list[4*i + 0][4] +')' + '</h4>'+
											'<p class="card-text">' + movie_list[4*i + 0][6] + '</p>'+
											'<a href="http://teamplusplus.web.illinois.edu/movie/' + movie_list[4*i + 0][0]  + '" class="btn btn-outline-secondary">'+
												'See Profile' +
											'</a>' +
										'</div>' +
									'</div>	'+
								'</div>' +
								'<div class="col-md-3">'+
									'<div class="card">'+
										'<a href="http://teamplusplus.web.illinois.edu/movie/' + movie_list[4*i + 1][0]  + '">' +
										'<img class="card-img-top movie_card" src=' + movie_list[4*i + 1][1] + '>'+
										'</a>' +
										'<div class="card-body">' +
											'<h4 class="card-title">' + movie_list[4*i + 1][2] + '(' + movie_list[4*i + 1][4] +')'+ '</h4>'+
											'<p class="card-text">' + movie_list[4*i + 1][6] + '</p>'+
											'<a href="http://teamplusplus.web.illinois.edu/movie/' + movie_list[4*i + 1][0]  + '" class="btn btn-outline-secondary">'+
												'See Profile' +
											'</a>' +
										'</div>' +
									'</div>	'+
								'</div>' +
								'<div class="col-md-3">'+
									'<div class="card">'+
										'<a href="http://teamplusplus.web.illinois.edu/movie/' + movie_list[4*i + 2][0]  + '">' +
										'<img class="card-img-top movie_card"  src=' + movie_list[4*i + 2][1] + '>'+
										'</a>' +
										'<div class="card-body">' +
											'<h4 class="card-title">' + movie_list[4*i + 2][2] + '(' + movie_list[4*i + 2][4] +')' +  '</h4>'+
											'<p class="card-text">' + movie_list[4*i + 2][6]  + '</p>'+
											'<a href="http://teamplusplus.web.illinois.edu/movie/' + movie_list[4*i + 2][0]  + '" class="btn btn-outline-secondary">'+
												'See Profile' +
											'</a>' +
										'</div>' +
									'</div>	'+
								'</div>'+
								'</div>' +
								'</div>');

				}else if(4 * i + 2 <= movie_list.length){
					$('body').append(
								'<div class="container-fluid padding">' +
								'<div class="row padding">' +
								'<div class="col-md-3">'+
									'<div class="card">'+
										'<a href="http://teamplusplus.web.illinois.edu/movie/' + movie_list[4*i + 0][0]  + '">' +
										'<img class="card-img-top movie_card" src=' + movie_list[4*i + 0][1]  + '>'+
										'</a>' +
										'<div class="card-body">' +
											'<h4 class="card-title">' + movie_list[4*i + 0][2] + '(' + movie_list[4*i + 0][4] +')' + '</h4>'+
											'<p class="card-text">' + movie_list[4*i + 0][6] + '</p>'+
											'<a href="http://teamplusplus.web.illinois.edu/movie/' + movie_list[4*i + 0][0]  + '" class="btn btn-outline-secondary">'+
												'See Profile' +
											'</a>' +
										'</div>' +
									'</div>	'+
								'</div>' +
								'<div class="col-md-3">'+
									'<div class="card">'+
										'<a href="http://teamplusplus.web.illinois.edu/movie/' + movie_list[4*i + 1][0]  + '">' +
										'<img class="card-img-top movie_card" src=' + movie_list[4*i + 1][1] + '>'+
										'</a>' +
										'<div class="card-body">' +
											'<h4 class="card-title">' + movie_list[4*i + 1][2] + '(' + movie_list[4*i + 1][4] +')'+ '</h4>'+
											'<p class="card-text">' + movie_list[4*i + 1][6] + '</p>'+
											'<a href="http://teamplusplus.web.illinois.edu/movie/' + movie_list[4*i + 1][0]  + '" class="btn btn-outline-secondary">'+
												'See Profile' +
											'</a>' +
										'</div>' +
									'</div>	'+
								'</div>' +
								'</div>' +
								'</div>');

				}else if(4 * i + 1 <= movie_list.length){
					$('body').append(
								'<div class="container-fluid padding">' +
								'<div class="row padding">' +
								'<div class="col-md-3">'+
									'<div class="card">'+
										'<a href="http://teamplusplus.web.illinois.edu/movie/' + movie_list[4*i + 0][0]  + '">' +
										'<img class="card-img-top movie_card" src=' + movie_list[4*i + 0][1]  + '>'+
										'</a>' +
										'<div class="card-body">' +
											'<h4 class="card-title">' + movie_list[4*i + 0][2] + '(' + movie_list[4*i + 0][4] +')' + '</h4>'+
											'<p class="card-text">' + movie_list[4*i + 0][6] + '</p>'+
											'<a href="http://teamplusplus.web.illinois.edu/movie/' + movie_list[4*i + 0][0]  + '" class="btn btn-outline-secondary">'+
												'See Profile' +
											'</a>' +
										'</div>' +
									'</div>	'+
								'</div>' +
								'</div>' +
								'</div>');
				}
		}
	</script>



<br>
<br>
<br>

{% endblock %}
