{% extends "base.html" %}

{% block body %}

  <div class="card card-image" style="background-image: url(/static/img/grey.jpg);">
    <h4> Login</h4>
    <hr>
    {% from "_fromhelper.html" import render_field %}
    <form method=post action="/login/">
			<dl>
				{{render_field(form.username)}}
				{{render_field(form.password)}}
				{{render_field(form.accept_tos)}}
			</dl>
			<p><input type=submit value=Login></p >
		</form>

		{% if error %}
			<p class="error" style="color: red"><strong></strong>{{error}}</p >
		{% endif %}
 </div>
{% endblock %}
