{% extends "base.html" %}

{% block body %}

<!--- Two Column Section -->
<div class="container-fluid padding">
<div class="row padding ">
	<div class="col-lg-6">
		<img src= {{ movie[0][1]}} class="img-fluid">
	</div>
	<div class="col-lg-6">
		<div class="rating-block">
			<h5>Movie rating</h5>
			<p> {{movie[0][7]}}</p>
			<h5>Movie Title</h5>
			<p>  {{movie[0][2]}} </p>
			<h5> Moive Genre </h5>
			<p>  {{movie[0][6]}} </p>
			<h5> Movie Id </h5>
			<p>  {{movie[0][0]}} </p>
			<h5> Movie IsAdult </h5>
			<p>  {{movie[0][3]}} </p>
			<h5> Movie Year </h5>
			<p>  {{movie[0][4]}} </p>
			<h5> Movie Runtime </h5>
			<p>  {{movie[0][5]}} </p>
			<h5> Movie Vote </h5>
			<p>  {{movie[0][8]}} </p>
		</div>
	</div>

</div>
</div>


<body class = "container">
	<div class="input_window">
		<form method="POST">
			Movie:<br>
			<input  name="movie">
			<br>
			Ratings:<br>
			<input name="rating" >
			<br>
			Comments:<br>
			<textarea rows="4" cols="50" name="review">{{review}}</textarea>
			<br>
		    <input type="submit" value="Submit">
		</form>
	</div>
</body>




<div class="container">
    <div class="row">
            <ul class="pagination mx-auto">

                <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">6</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">»</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
    </div>
</div>

<br>
<br>
<br>

{% endblock %}
