{% extends "base.html" %}

{% block body %}
<!--- Jumbotron -->
<div class="container-fluid">
<div class="row jumbotron">
	<div class="col-xs-12 col-sm-12 col-md-9 col-xl-10">
		<p class="lead">A Collection of recent heated Movies!
		</p>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-10">
		<a href="#">
			<button type="button" class="btn btn-outline-secondary bnt-lg">
				Moive Posting
			</button>

		</a>
	</div>
</div>
</div>




	<div class="container-fluid padding">
		<div class="row padding">
			<div class="col-md-12">
				<div class="review-block">

						<!--
						<div class="col-md-12 post_instance">
							<img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
							<div> <strong>Anonymous</strong></div>

								<form method="POST">
									Delete
								    <input type="submit" value="Delete">
								    <br>
									Edit
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								    <input type="submit" value="Edit">
								</form>

							<div> <strong>Movie Name</strong> : hehe</div>
							<div> <strong>Rating</strong> : 3.5</div>
							<div> <strong>Comment</strong> : this was nice in buy. this was nice in buy. this was nice in buy. this was nice in buy this was nice in buy this was nice in buy this was nice in buy this was nice in buy</div>
						</div>
						<hr/>

						-->
						<script>
							function myFunc(vars) {
					    		return vars
							}
							var posts_list =  myFunc({{posts|tojson}});
							//window.alert()
							for(var i = 0; i < posts_list.length; i ++)
								$('body').append(
									'<div class="col-md-12 post_instance">' +
										'<img src="/static/img/ano.jpg" class="img-rounded">'+
										'<div> <strong>Anonymous</strong></div>'+
										'<form method="POST">'+
											'Delete'+
											'<input type="hidden" name="postId" value=' + posts_list[i][0]+ '>'+
												'<input type="hidden" name="rating" value=' + posts_list[i][2]+ '>'+
											'<input type="hidden" name="review" value=' + posts_list[i][1]+ '>'+
											'<input type="hidden" name="ImdbId" value=' + posts_list[i][3]+ '>'+
										    '<input type="submit" name="submitButton" value="Delete">'+
										    '<br>'+
											'Edit'+
											'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+
										    '<input type="submit" name="submitButton" value="Edit">'+
										'</form>' +
										'<div> <strong>Movie Name</strong> :' + posts_list[i][4] + '</div>'+
										'<div> <strong>Rating</strong> : ' + posts_list[i][2] + '</div>'+
										'<div> <strong>Comment</strong> : ' + posts_list[i][1] + '</div>'+
									'</div>'+
									'<br>');
						</script>


						<hr/>
				</div>
			</div>
		</div>

    </div> <!-- /container -->


<div class="container">
    <div class="row">
            <ul class="pagination mx-auto">

                <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">6</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">»</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
    </div>
</div>

<br>
<br>
<br>
{% endblock %}
