{% extends "base.html" %}

{% block body %}
<!--- Jumbotron -->

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Posts</h1>
    <p class="lead">See what other movie-lovers say!</p>
  </div>
</div>


	<div class="container-fluid padding">
		<div class="row padding">
			<div class="col-md-12">
				<div class="review-block">

						<!--
						<div class="col-md-12 post_instance">
							<img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
							<div> <strong>Anonymous</strong></div>

								<form method="POST">
									Delete
								    <input type="submit" value="Delete">
								    <br>
									Edit
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								    <input type="submit" value="Edit">
								</form>

							<div> <strong>Movie Name</strong> : hehe</div>
							<div> <strong>Rating</strong> : 3.5</div>
							<div> <strong>Comment</strong> : this was nice in buy. this was nice in buy. this was nice in buy. this was nice in buy this was nice in buy this was nice in buy this was nice in buy this was nice in buy</div>
						</div>
						<hr/>

						-->

						<script>
							function myFunc(vars) {
					    		return vars
							}
							var posts_list =  myFunc({{posts|tojson}});
							//window.alert()
							for(var i = 0; i < posts_list.length; i ++){
								$('body').append(
									'<div class="container">'+
										'<div class="well">'+
												'<div class="media">'+
													'<a class="pull-left" href="#">'+
													'<img class="media-object" style="width: 200px;" src='+posts_list[i][7]+'>'+
												'</a>'+
												'<div class="media-body">'+
													'<h2 class="media-heading">Receta 1</h4>'+
														'<p class="text-right">By '+posts_list[i][5]+'</p>'+
														'<p class="text-right">Rate: ' +posts_list[i][2] + '/10</p>'+
														'<p>'+posts_list[i][1]+'</p>'+
														'<ul class="list-inline list-unstyled">'+
													'<li><span><i class="glyphicon glyphicon-calendar"></i> Released in '+posts_list[i][10]+'</span></li>'+
															'<li>|</li>'+
															'<span><i class="glyphicon glyphicon-comment"></i> '+posts_list[i][12]+' </span>'+
															'<li>|</li>'+
															'<li>'+
																 '<span class="glyphicon glyphicon-star"></span>'+
																					'<span class="glyphicon glyphicon-star"></span>'+
																					'<span class="glyphicon glyphicon-star"></span>'+
																					'<span class="glyphicon glyphicon-star"></span>'+
																					'<span class="glyphicon glyphicon-star-empty"></span>'+
															'</li>'+
															'<li>|</li>'+
															'<li>'+

																'<form method="POST">'+
																	'<input type="hidden" name="postId" value=' + posts_list[i][0]+ '>'+
																		'<input type="hidden" name="rating" value=' + posts_list[i][2]+ '>'+
																	'<input type="hidden" name="review" value=' + posts_list[i][1]+ '>'+
																	'<input type="hidden" name="ImdbId" value=' + posts_list[i][3]+ '>'+
																		'<input type="submit" name="submitButton" value="Delete">'+
																'</form>' +
															'</li>'+
															'<li>|</li>'+
															'<li>'+

																'<form method="POST">'+
																	'<input type="hidden" name="postId" value=' + posts_list[i][0]+ '>'+
																		'<input type="hidden" name="rating" value=' + posts_list[i][2]+ '>'+
																	'<input type="hidden" name="review" value=' + posts_list[i][1]+ '>'+
																	'<input type="hidden" name="ImdbId" value=' + posts_list[i][3]+ '>'+
																		'<input type="submit" name="submitButton" value="Edit">'+
																'</form>' +
															'</li>'+
												'</ul>'+
												 '</div>'+
											'</div>'+
										'</div>'+
									'</div>');
							}
						</script>
						<hr/>
				</div>
			</div>
		</div>

    </div> <!-- /container -->




<div class="container">
    <div class="row">
            <ul class="pagination mx-auto">

                <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">6</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">»</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
    </div>
</div>

<br>
<br>
<br>
{% endblock %}
