{% extends "header.html" %}

{% block body %}
  <body class = "container">
  <div class="card card-image" style="background-image: url(/static/img/m1.jpg);">
    <h4> Register</h4>
    <hr>

    	<!--
		<script type="text/javascript">
		function google() {
		window.location = "http://baidu.com";
		}
		</script>
		-->

		<form method="POST">
			UserName:<br>
			<input  name="movie" value="{{request.form.username}}">
			<br>
			Email:<br>
			<input name="rating" value="{{request.form.email}}">
			<br>
			Password:<br>
		    <input value="{{request.form.password}}">
		    <br>
			Password Confirm:<br>
		    <input value="{{request.form.confirm}}">
		    <br>
		    <br>
		</form>
			<a href="http://127.0.0.1:5000/user/" + {{request.form.username}}>
			<button>
				submit
			</button>
			</a> 
			<br>
			<br>

 </div>
  </body>
{% endblock %}
