{% extends "base.html" %}

{% block body %}

	<div class="container-fluid padding">
	<div class="row padding ">
		<div class="col-lg-6">
			<div class="rating-block">
				<h5>User Name</h5>
				<p> {{myUsername}} </p>
				<h5>User Email</h5>
				<p> {{myEmail}} </p>
			</div>
		</div>

	</div>
	</div>

	<div class="container-fluid padding">
		<div class="row padding">
			<div class="col-md-12">
				<div class="review-block">
						<script>
							function myFunc(vars) {
					    		return vars
							}
							var posts_list =  myFunc({{myPosts|tojson}});
							//window.alert()
							for(var i = 0; i < posts_list.length; i ++)
								$('body').append(
									'<div class="col-md-12 post_instance">' +
										'<img src="/static/img/ano.jpg" class="img-rounded">'+
										'<div> <strong>Anonymous</strong></div>'+
										'<form method="POST">'+
											'Delete'+
												'<input type="hidden" name="rating" value=' + posts_list[i][2]+ '>'+
											'<input type="hidden" name="review" value=' + posts_list[i][1]+ '>'+
											'<input type="hidden" name="ImbdId" value=' + posts_list[i][3]+ '>'+
										    '<input type="submit" name="submitButton" value="Delete">'+
										    '<br>'+
											'Edit'+
											'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+
										    '<input type="submit" name="submitButton" value="Edit">'+
										'</form>' +
										'<div> <strong>Movie Name</strong> :' + posts_list[i][4] + '</div>'+
										'<div> <strong>Rating</strong> : ' + posts_list[i][2] + '</div>'+
										'<div> <strong>Comment</strong> : ' + posts_list[i][1] + '</div>'+
									'</div>'+
									'<br>');
						</script>


						<hr/>
				</div>
			</div>
		</div>

    </div> <!-- /container -->






<div class="container">
    <div class="row">
            <ul class="pagination mx-auto">

                <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">6</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">»</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
    </div>
</div>

<br>
<br>
<br>

{% endblock %}
