{% extends "base.html" %}

{% block body %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Hi, {{myUsername}}!</h1>
    <p class="lead">Here is the movies you watched and what you posted!</p>
  </div>
</div>

	<div class="container-fluid padding">
		<div class="row padding">
			<div class="col-md-12">
				<div class="review-block">
						<script>
							function myFunc(vars) {
					    		return vars
							}
							var posts_list =  myFunc({{myPosts|tojson}});
							var num = Math.floor(Math.random() * (13 - 1)) + 1;
							//window.alert()
							for(var i = 0; i < posts_list.length; i ++){
								console.log(num);
								$('body').append(
									'<div class="container">'+
										'<div class="well">'+
												'<div class="media">'+
													'<a class="pull-left" href="#">'+
													'<img class="media-object" style="width: 200px;" src='+posts_list[i][7]+'>'+
												'</a>'+
												'<div class="media-body">'+
													'<h2 class="media-heading">Receta 1</h4>'+
														'<p class="text-right">By '+posts_list[i][5]+'</p>'+
														'<p class="text-right">Rate: ' +posts_list[i][2] + '/10</p>'+
														'<p>'+posts_list[i][1]+'</p>'+
														'<ul class="list-inline list-unstyled">'+
													'<li><span><i class="glyphicon glyphicon-calendar"></i> Released in '+posts_list[i][10]+'</span></li>'+
															'<li>|</li>'+
															'<span><i class="glyphicon glyphicon-comment"></i> '+posts_list[i][12]+' </span>'+
															'<li>|</li>'+
															'<li>'+
																 '<span class="glyphicon glyphicon-star"></span>'+
																					'<span class="glyphicon glyphicon-star"></span>'+
																					'<span class="glyphicon glyphicon-star"></span>'+
																					'<span class="glyphicon glyphicon-star"></span>'+
																					'<span class="glyphicon glyphicon-star-empty"></span>'+
															'</li>'+
															'<li>|</li>'+
															'<li>'+

																'<form method="POST">'+
																	'<input type="hidden" name="postId" value=' + posts_list[i][0]+ '>'+
																		'<input type="hidden" name="rating" value=' + posts_list[i][2]+ '>'+
																	'<input type="hidden" name="review" value=' + posts_list[i][1]+ '>'+
																	'<input type="hidden" name="ImdbId" value=' + posts_list[i][3]+ '>'+
																		'<input type="submit" name="submitButton" action="/user" value="Delete">'+
																'</form>' +
															'</li>'+
															'<li>|</li>'+
															'<li>'+

																'<form method="POST">'+
																	'<input type="hidden" name="postId" value=' + posts_list[i][0]+ '>'+
																		'<input type="hidden" name="rating" value=' + posts_list[i][2]+ '>'+
																	'<input type="hidden" name="review" value=' + posts_list[i][1]+ '>'+
																	'<input type="hidden" name="ImdbId" value=' + posts_list[i][3]+ '>'+
																		'<input type="submit" name="submitButton" action="/user" value="Edit">'+
																'</form>' +
															'</li>'+
												'</ul>'+
												 '</div>'+
											'</div>'+
										'</div>'+
									'</div>');
							}
						</script>


						<hr/>
				</div>
			</div>
		</div>

    </div> <!-- /container -->


<br>
<br>
<br>

{% endblock %}
