{% extends "base.html" %}

{% block body %}

	<div class="container-fluid padding">
	<div class="row padding ">
		<div class="col-lg-6">
			<div class="rating-block">
				<h5>User Name</h5>
				<p> {{myUsername}} </p>
				<h5>User Email</h5>
				<p> {{myEmail}} </p>
			</div>
		</div>

	</div>
	</div>

	<div class="container-fluid padding">
		<div class="row padding">
			<div class="col-md-12">
				<div class="review-block">
						<script>
							function myFunc(vars) {
					    		return vars
							}
							var posts_list =  myFunc({{myPosts|tojson}});
							//window.alert()
							for(var i = 0; i < posts_list.length; i ++)
								$('body').append(
									'<div class="col-md-12 post_instance">' +
										'<img src="/static/img/ano.jpg" class="img-rounded">'+
										'<div> <strong>Anonymous</strong></div>'+
										'<form method="POST">'+
											'Delete'+
												'<input type="hidden" name="rating" value=' + posts_list[i][2]+ '>'+
											'<input type="hidden" name="review" value=' + posts_list[i][1]+ '>'+
											'<input type="hidden" name="ImbdId" value=' + posts_list[i][3]+ '>'+
										    '<input type="submit" name="submitButton" value="Delete">'+
										    '<br>'+
											'Edit'+
											'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+
										    '<input type="submit" name="submitButton" value="Edit">'+
										'</form>' +
										'<div> <strong>Movie Name</strong> :' + posts_list[i][4] + '</div>'+
										'<div> <strong>Rating</strong> : ' + posts_list[i][2] + '</div>'+
										'<div> <strong>Comment</strong> : ' + posts_list[i][1] + '</div>'+
									'</div>'+
									'<br>');
						</script>


						<hr/>
				</div>
			</div>
		</div>

    </div> <!-- /container -->






<div class="container">
    <div class="row">
            <ul class="pagination mx-auto">

                <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">6</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">»</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
    </div>
</div>

<br>
<br>
<br>

<!-- Card -->
<div class="card card-image" style="background-image: url(/static/img/m1.jpg);">

    <!-- Content -->
	<div class="container-fluid padding">
	<div class="row text-center">
		<div class="col-md-3">
			<button type="button" class = "btn btn-outline-primary btn-lg"> JOIN THE COMMUNITY</button>
			<hr class="light">
			<p>555-555-5555</p>
			<p>email@fuckyou.com</p>
		</div>
		<div class="col-md-3">
			<hr class="light">
			<h5>THE BASICS</h5>
			<hr class="light">
			<p>Contact Us</p>
			<p>Support Forum</p>
			<p>API</p>
			<p>Blog</p>
			<p>About Us</p>
		</div>
		<div class="col-md-3">
			<hr class="light">
			<h5>GET INVOLVED</h5>
			<hr class="light">
			<p>3rd Party Application</p>
			<p>Add New Movies</p>
			<p>Add New TV Show</p>
			<p>Contribution</p>
		</div>
		<div class="col-md-3">
			<hr class="light">
			<h5>COMMUNITY</h5>
			<hr class="light">
			<p>Guidlines</p>
			<p>Leaderboard</p>
			<p>Forums</p>
			<p>Twitter</p>
			<p>Facebook</p>
		</div>
		<div class="col-md-12">
			<hr class="light">
			<h5>movie-search.com</h5>
		</div>
	</div>
    <!-- Content -->
</div>
<!-- Card -->


{% endblock %}
